In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge
from sklearn.feature_extraction import DictVectorizer

In [2]:
train = pd.read_csv(r'S:\Coursera\Введение в машинное обучение\Неделя 4\Ridge\salary-train.csv', header=0)
test = pd.read_csv(r'S:\Coursera\Введение в машинное обучение\Неделя 4\Ridge\salary-test-mini.csv', header=0)

In [3]:
train['FullDescription'] = train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [4]:
train['FullDescription'] = train['FullDescription'].str.lower()
train

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse rgn nursing home for young...,Sutton Coldfield,NaN,20355
...,...,...,...,...
59995,as a result of continued growth first class s...,Whitley Bay,contract,26400
59996,php mvc web developer macclesfieldcirca ...,Macclesfield,permanent,26000
59997,staff nurse nursing home baldock white recru...,Baldock,NaN,24500
59998,this is one of the best agency side opportunit...,The City,permanent,65000
59999,must have cscs card must have asbestos awarene...,London,NaN,23040

In [5]:
from sklearn.feature_extraction import DictVectorizer
enc = DictVectorizer()
X_train_cat = enc.fit_transform(train[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_cat = enc.transform(test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [6]:
train['LocationNormalized'].fillna('nan', inplace=True)
train['ContractTime'].fillna('nan', inplace=True)
test['LocationNormalized'].fillna('nan', inplace=True)
test['ContractTime'].fillna('nan', inplace=True)

In [15]:
X_train = train.iloc[:, 0:3]
y_train = train.iloc[:, 3]
X_test = test

In [16]:
vectorizer = TfidfVectorizer(min_df=5)
X_train_vec = vectorizer.fit_transform(X_train['FullDescription'])
X_test_vec = vectorizer.transform(X_test['FullDescription'])

In [17]:
enc = DictVectorizer()
X_train_categ = enc.fit_transform(X_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = enc.transform(X_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [21]:
import scipy

In [22]:
X_for_train = scipy.sparse.hstack([X_train_vec, X_train_categ])
X_for_test = scipy.sparse.hstack([X_test_vec, X_test_categ])

In [24]:
ridge = Ridge(alpha=1, random_state=241)
ridge.fit(X_for_train, y_train)

Ridge(alpha=1, random_state=241)

In [26]:
arr = ridge.predict(X_for_test)

In [27]:
arr = np.around(arr, 2)

In [29]:
arr[0], arr[1]

(56577.14, 37136.02)

In [32]:
X_test.iloc[0, 0]

'We currently have a vacancy for an HR Project Manager based in Central Milton Keynes for an Infrastructure company. Travel will be required to other sites This role can be on a day rate of **** to **** per day for 16 months They need to the successful candidate to start in March 2013 (beginning) Responsibilities will include: Project planning for full design and implementation and embedding activity working closely with HR Business Partners and subject matter experts from the Centres of Expertise to ensure that the system aligns to the company s frameworks and principles for these critical areas of people focus. Facilitation and delivery of design & configuration of the system to align to our HR framework and principles Business implementation regarding change management, training & development design and delivery for managers, employees and Human Resources Working collaboratively with our external implementation partners and internal Information Management function to deliver the project on time, on budget and to quality. Manage a small implementation team made up of a HR Business Partner and HR Graduate and work collaboratively with HR Business Partner and Business Managers to inform the design and implementation. Manage project risk and issues effectively to deliver the aims of the programme. Communicate regularly with key business and HR stakeholders during the duration of the project. Experience required: Proven track record in leading the successful implementation of an HR System within a large/complex organisation. A strong understanding from the perspective of an HR and Business professional of the frameworks and principles of Performance Management, Talent Management and Succession Planning. Demonstrates strong business/commercial approach and understanding of business needs Proven experience of working in partnership with senior business leaders to deliver projects. Passionate about customer service with ability to articulate previous achievements through business deliverables. Ability to establish professional credibility quickly. Excellent communication skills and ability to effectively with all levels of an organisation. Proven track record of operating in a complex working environment. Strong problem solving and analytical skills Graduate calibre MCIPD/postgraduate human resources qualification or equivalent experience. Please apply for this great opportunity'